/* External CSS */
body {
  font-size: 1em;
  color: #444; /* shade of black */
  font-family: Verdana;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: orange;
}
h2 {
  color: green;
}

